<nav class="navbar navbar-dark fixed-top bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/SBB-Logo.png" alt="SBB" width="50px">
            <span class="font-monospace fw-bold">Click & Hike</span>
        </a>
        

        <form class="d-flex">
            <a href="/profile" style="color: inherit; text-decoration: none;">
                <i class="fas fa-user"></i>
            </a>
        </form>
        
    </div>
</nav>
